#footer {
    margin: 30px 0 10px 0;
}

#menu {
    margin: 10px 0;
}
    #menu a {
        font-size: large;
    }

img.album-image {
    width: 200px; margin: 3px;
}

a.albums-list {
    font-size: large; display: block; margin: 12px 0 5px;
}

img.albums-list {
    width: 50px; margin: 1px;
}