{% extends 'common.html.twig' %}

{% block head %}{% endblock %}


{% block stylesheets %}
{# bootstrap #}
    <link href="{{ asset('/vendor/bootstrap3/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/common.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}

    <div id="main-content" class="container">
    </div>
    <!-- /. div.container -->

{% endblock %}


{% block javascripts %}

{# Exprted Data #}
    <script type="text/javascript"></script>

{# Templates #}

    <script id="main-layout-view-template" type="text/template">
        <div id="menu"></div>
        <div id="content"></div>
        <div id="footer"></div>
    </script>


    <script id="album-layout-view-template" type="text/template">
        <div id="menu"></div>
        <div id="content"></div>
        <div id="paginator"></div>
        <div id="footer"></div>
    </script>


    <script id="top-menu-content" type="text/template">
        {% include('bootstrap3/common/top_menu.html.twig') %}
    </script>


    <script id="footer-content" type="text/template">
        {% include('bootstrap3/common/footer.html.twig') %}
    </script>


    <script id="albums-view-row" type="text/template">
        <td>
            <a href="#/api/album/<%- id %>" class="albums-list" style=""><%= name %></a>
            <% _.each(images, function(val, i) { %>
                <img src="/uploads/images/<%- val %>" class="albums-list" />
            <% }) %>
        </td>
    </script>


    <script id="album-view" type="text/template">
        <h1><%= name %></h1>

        <% _.each(images, function(val, i) { %>
            <img src="/uploads/images/<%- val %>" class="album-image" />
        <% }) %>
    </script>


    <script id="album-paginator" type="text/template">
        <nav>
            <ul class="pagination">
                <%
                    if (!currentPage) { currentPage = 1; }
                    for (var i=1; i<=(Math.round(totalItems/itemsLimit)); i++) {
                        var _activeFlag ='';
                        if (i == currentPage) { _activeFlag="active"; }
                %>
                    <li class="<%= _activeFlag %>">
                        <a href="#/api/album/<%-albumId%>/page/<%-i%>"><%= i %></a>
                    </li>

                <% } %>
            </ul>
        </nav>
    </script>


{# Setting stuff with require.js #}
    <script src="{{ asset('/vendor/requirejs/require.js') }}" data-main="/app/main"></script>

{% endblock %}